.card {
  width: 300px;
  background-color: rgb(76, 101, 183);
  height: 450px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card h4 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

.card h6 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(232, 222, 126);
  text-align: center;
  margin-top: -1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(76, 101, 183);
  cursor: pointer;
}